<article class="page-article" id="profile-article">
  <div class="row" id="profile-article-row">
    <div class="img-column-half" id="profile-img-container">
      <img
        class="side-img"
        id="profile-picture"
        src="../../assets/ProfilePic.jpg"
        alt="profile picture"
      />
    </div>
    <div class="column-half" id="profile text-container">
      <section class="article-content" id="profile-content">
        <h2 class="section-title" id="profile-article-title">Adam Collier</h2>
        <p class="article-text">Welcome to my personal webpage.</p>
        <h3 class="subsection-header">About Me</h3>
        <p class="article-text">I am a recent graduate of Michigan State University, with a b.s. in Computer Science and a cognate in Media Information</p>
        <p class="article-text">I am currently looking for an entry-level position as a software developer or software engineer in an established company with a strong collaborative and team-centric environment</p>
        <h3 class="subsection-header">Contact Information</h3>
        <p class="article-text">
          Email: benjaminac46&#64;gmail.com<br>
          LinkedIn: <br>
          Twitter: <br>
        </p>
      </section>
    </div>
  </div>
</article>
